[submodule "libraries/LiquidCrystal_I2C"]
	path = libraries/LiquidCrystal_I2C
	url = https://github.com/marcoschwartz/LiquidCrystal_I2C.git
[submodule "libraries/Time"]
	path = libraries/Time
	url = https://github.com/PaulStoffregen/Time.git
[submodule "libraries/TM1637"]
	path = libraries/TM1637
	url = https://github.com/hck509/TM1637.git
[submodule "libraries/MQ135"]
	path = libraries/MQ135
	url = https://github.com/hck509/MQ135.git
